<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tu carrito</title>
        <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/carrito.css">
    </head>
<body>
    <header class="container-fluid">

        <section class="row">
            <!--<section class="banner">
                <section class="banners row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="banner d-flex flex-column">
                            <h2>% 20 off</h2>
                        </div>
                    </article>
                </section>
            </section>-->
    
            <section class="menu">
    
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="logo col-sm-3 col-md-6 col-lg-4">
                            <a href="/index.ejs"><img class="logo" src="/img/rusticoLogo.png" alt="logo"></a>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-8 search-container">
                            <form action="" class="input-search">
                                <input type="text" placeholder="Buscar productos, marcas y más">
                                <button class="btn btn-outline-light"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
    
                        <nav class="navbar navbar-expand-lg col-lg-12">
                            <div class="container-fluid ">
                                <button class="navbar-toggler navbar-light " type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
    
                                <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                                    <ul class="navbar-nav mb-2 mb-lg-0">
                                        <!--me-auto elimine de ul-->
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                data-bs-whatever="@getbootstrap" href=""><i
                                                    class="fas fa-user-circle">Ingresà</i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                href=""><i class="fas fa-address-card">Registrate</i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link carrito" href="#" tabindex="-1" aria-disabled="true"><i
                                                    class="fas fa-shopping-cart"></i></a>
                                        </li>
                                        <!--<li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                                        </li>-->
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Ofertas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Ayuda</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Categorias
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Mochilas</a></li>
                                                <li><a class="dropdown-item" href="#">Bolsas de Dormir</a></li>
                                                <li><a class="dropdown-item" href="#">Iluminacion</a></li>
                                                <li><a class="dropdown-item" href="#">Repuestos</a></li>
                                                <li><a class="dropdown-item" href="#">todos los productos</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Ayuda</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#">Nombre_Usuario</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Mi Cuenta
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                                                <li><a class="dropdown-item" href="#">Editar Producto</a></li>                                               
                                            </ul>
                                        </li>
    
                                    </ul>
    
                                </div>
                            </div>
                        </nav>
                        <div class="carrito col-sm-2 col-md-2 col-lg-6 d-flex">
                            <a class="menuCarrito" href="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <!--Inicio del modal Login-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputValue"
                                                    placeholder="name@example.com" required>
                                                <label for="floatingInputValue">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Recordarme
                                                    </label>
                                                    <p class="registrate">¿No estas registrado? <a
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#exampleModalRegistro"
                                                            data-bs-whatever="@getbootstrap" href="">Registrate</a></p>
                                                </div>
    
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Iniciar
                                                        Sesiòn</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--FIN del Login div class="modal-dialog"-->
                        </div>
                        <!--Fin del Login div class="modal fade"-->
                        <!--Inicio del modal Registro-->
                        <div class="modal fade" id="exampleModalRegistro" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputValue"
                                                    placeholder="name@example.com" required>
                                                <label for="floatingInputValue">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password Again</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN del div class="container-fluid"-->
                </nav>
                <!--FIN del nav class="navbar navbar-expand-lg"-->
            </section>
            <!--FIN del section class="menu"-->
        </section>
        <!--FIN del section class="row"-->
    </header>
    
    <!-- Cuerpo -->
    <main class="container cuerpo">
        <div class="col-sm-12 col-mg-12 col-lg-12">
             <h1>
                 Mi Carrito
            </h1>
        </div>
        <section class="row">
        

            <div class="producto-carrito col-sm-12 col-md-12 col-lg-3"><div class="card">
                <img src="/img/productos/lampara-de-camping.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">titulo del producto</h5>
                  <p class="card-text">Descripcion del producto</p>
                </div>
              </div></div>
            <div class="precio col-sm-12 col-md-6 col-lg-3"><p class="price">$150 precio unitario</p> </div>
            <div class="cantidad col-sm-12 col-md-6 col-lg-3">
                <div class="dropdown form-floating d-flex flex-column">
                    <button type="button" class="cantidad btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Seleccione cantidad
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">1</a></li>
                      <li><a class="dropdown-item" href="#">2</a></li>
                      <li><a class="dropdown-item" href="#">3</a></li>
                      <li><a class="dropdown-item" href="#">4</a></li>
                      <li><a class="dropdown-item" href="#">5</a></li>
                      <li><a class="dropdown-item" href="#">6</a></li>
                      <li><a class="dropdown-item" href="#">7</a></li>
                      <li><a class="dropdown-item" href="#">8</a></li>
                      <li><a class="dropdown-item" href="#">9</a></li>
                      <li><a class="dropdown-item" href="#">10</a></li>
                      <li><a class="dropdown-item" href="#">11</a></li>
                      <li><a class="dropdown-item" href="#">12</a></li>
                      
                    </ul>
                  </div>
            </div>
            <div class="total col-sm-6 col-md-3 col-lg-3"><p class="price">precio total del producto</p>
            </div>
    </section>
    
    <section class="row">
            <div class="producto-carrito col-sm-12 col-md-12 col-lg-3"><div class="card">
                <img src="/img/productos/51O0KTuvjpL._AC_SY355_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">titulo del producto</h5>
                  <p class="card-text">Descripcion del producto</p>
                </div>
              </div></div>
            <div class="precio col-sm-12 col-md-6 col-lg-3"><p class="price">$150 precio unitario</p></div>
            <div class="cantidad col-sm-12 col-md-6 col-lg-3">
                <div class="dropdown form-floating d-flex flex-column">
                    <button type="button" class="cantidad btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Seleccione cantidad
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">1</a></li>
                      <li><a class="dropdown-item" href="#">2</a></li>
                      <li><a class="dropdown-item" href="#">3</a></li>
                      <li><a class="dropdown-item" href="#">4</a></li>
                      <li><a class="dropdown-item" href="#">5</a></li>
                      <li><a class="dropdown-item" href="#">6</a></li>
                      <li><a class="dropdown-item" href="#">7</a></li>
                      <li><a class="dropdown-item" href="#">8</a></li>
                      <li><a class="dropdown-item" href="#">9</a></li>
                      <li><a class="dropdown-item" href="#">10</a></li>
                      <li><a class="dropdown-item" href="#">11</a></li>
                      <li><a class="dropdown-item" href="#">12</a></li>
                      
                    </ul>
                  </div>
            </div>
        </div>
        <div class="total col-sm-6 col-md-3 col-lg-3"><p class="price">precio total del producto</p>
        </div>
    </section>
        <section class="row">
          <div class="total col-sm-6 col-md-6 col-lg-6"><p class="total-price-title">Precio Final</p>
          </div>
        <div class="total col-sm-6 col-md-6 col-lg-6"><p class="total-price-number">$15.820</p>
        </div>
        
    </section>
    <!-- Botones -->
    <section class="row">

      <!-- Medios de envios -->
        <article class="medios-de-pago col-sm-12 col-md-4 col-lg-4">
            <div class="dropdown form-floating d-flex flex-column">
                <button class="btn btn-success dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Metodos de envios <i class="fas fa-truck"></i>
                </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <li><a class="dropdown-item" href="#">Retiro en sucursal</a></li>
                   <li><a class="dropdown-item" href="#">Envio a domicilio</a></li>
                   <li><a class="dropdown-item" href="#">Retirar en sucursal de correo</a></li>
               </ul>
            </div>
        </article>

        <!-- medios de pagos -->
        <article class="medios-de-envio col-sm-12 col-md-4 col-lg-4">
            <div class="dropdown ">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Medios de pago <i class="far fa-credit-card"></i> <i class="fas fa-credit-card"></i> 
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Efectivo, pagando en pagofacil o rapipago</a></li>
                        <li><a class="dropdown-item" href="#">Debito automatico</a></li>
                        <li><a class="dropdown-item" href="#">targeta de credito</a></li>
                    </ul>
             </div>
        </article>  
        
      <!-- Comprar -->
        <article class="button-comprar col-sm-12 col-md-4 col-lg-4">
          
            <div class="form-floating d-flex flex-column">
                <button type="button" class="btn btn-success ">Comprar ahora <i class="fas fa-hand-holding-usd"></i></button>
            </div>

        </article>
        
    </section>

    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>
<!-- Footer -->
<footer>
    <main class="container-fluid">
        <section class="">
            <div class="main-footer row">
        <div class="logo col-sm-12 col-md-12 col-lg-12"><img src="/img/1612675856438.png" alt="" width="50%" class="logo-footer"></div>
     
        <div class="contactar col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ayuda <i class="fas fa-life-ring"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Quienes somos <i class="fas fa-user-friends"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Preguntas frecuentes <i class="far fa-question-circle"></i></a>
                </li>
                
            </ul>
        </div>
        <div class="navegacion-footer col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home <i class="fas fa-home"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Ofertas <i class="fas fa-tags"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos <i class="fas fa-campground"></i></a>
                </li>
            </ul>
        </div>
       
        <div class="contactos col-sm-3 col-md-3 col-lg 3">
            <ul>
                <li class="nav-item">
                    <p>¿Cómo contactarnos?</p>
                </li>
                <li> 
                    <a class="nav-link" href="#">Direccion <i class="fas fa-map-marker-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Telefono <i class="fas fa-phone"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Email <i class="fas fa-envelope"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Whatsapp <i class="fab fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
        <div class="redes-sociales col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <p>Nuestras redes</i></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Instagram <i class="fab fa-instagram"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Facebook <i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Twitter <i class="fab fa-twitter"></i></a>
                </li>             
            </ul>
        </div>
<!--         <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="banner-footer d-flex flex-column">
                <h2>.</h2>
            </div>
        </div> -->
    </div>
    </section>
    </main>
   
</footer>
</html>