<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/detalleProducto.css">
</head>

<body>

    <header id="header" class="container-fluid fixed-top header-transparent">

        <section class="row header">
            
            <section class="menu container">

                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="logoHeader col-sm-3 col-md-6 col-lg-4">
                            <a href="index.html"><img class="logoHeader" src="img/logobis7.png" alt="logo"></a>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-8 search-container">
                            <form action="" class="input-search">
                                <input type="text" placeholder="Buscar productos, marcas y más">
                                <button class="btn btn-outline-light"><i class="fas fa-search"></i></button>
                            </form>
                        </div>

                        <nav class="navbar navbar-expand-lg col-lg-12">
                            <div class="container-fluid">
                                <button class="navbar-toggler navbar-light " type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                                    <ul class="navbar-nav mb-2 mb-lg-0">
                                        
                                        <li class="nav-item menuLR">
                                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                    data-bs-whatever="@getbootstrap" href=""><i
                                                        class="fas fa-user-circle">Iniciar Sesion</i>
                                                </a>
                                        </li>
                                        <li class="nav-item menuLR">
                                                <a class="nav-link" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                    href=""><i class="fas fa-address-card">Registrate</i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Home</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Categorias
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Mochilas</a></li>
                                                <li><a class="dropdown-item" href="#">Bolsas de Dormir</a></li>
                                                <li><a class="dropdown-item" href="#">Iluminacion</a></li>
                                                <li><a class="dropdown-item" href="#">Repuestos</a></li>
                                                <li><a class="dropdown-item" href="#">todos los productos</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Ayuda</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Ofertas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Vender</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Ayuda</a>
                                        </li>
                                    </ul>
                                    
                                </div>
                                <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                                    <ul class="navbar-nav mb-2 mb-lg-0 Sesion">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-user-circle"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                        data-bs-whatever="@getbootstrap" href=""><i
                                                            class="fas fa-user-circle">Iniciar Sesion</i>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                        href=""><i class="fas fa-address-card">Registrate</i> </a>
                                                </li>                                                
                                                <li><a class="dropdown-item" href="#">Ayuda</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="Carrito" href="#"><i class="fas fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>      
                                </div>
                            </div>
                        </nav>             
                        <div class="carrito col-sm-2 col-md-2 col-lg-6 d-flex">
                            <a class="menuCarrito" href="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <!--Inicio del modal Login-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputValue"
                                                    placeholder="name@example.com" required>
                                                <label for="floatingInputValue">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Recordarme
                                                    </label>
                                                    <p class="registrate">¿No estas registrado? <a data-bs-toggle="modal" data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                            href="">Registrate</a></p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Iniciar
                                                        Sesiòn</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--FIN del Login div class="modal-dialog"-->
                        </div>
                        <!--Fin del Login div class="modal fade"-->
                        <!--Inicio del modal Registro-->
                        <div class="modal fade" id="exampleModalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputValue"
                                                    placeholder="name@example.com" required>
                                                <label for="floatingInputValue">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password Again</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!--FIN del div class="container-fluid"-->
                </nav>
                <!--FIN del nav class="navbar navbar-expand-lg"-->
            </section>
            <!--FIN del section class="menu"-->
        </section>
        <!--FIN del section class="row"-->
    </header>
    <div class="container-fluid headerFondo">
        <div class="row headerFondo">
         <section class="frase">
             <h1>Listo para su aventura?</h1>
             <h4>Aqui disponemos de todo lo que necesita</h4>
         </section>
         <img class="Header" src="img/hero-bg.jpg" alt="">
        </div>
    </div>

    <!-- Cuerpo -->
    <main class="cuerpo container">
        <section class="detalle row">
            <!-- Nombre del producto -->
            <article class="title text-center col-sm-12 col-md-12 col-lg-12">
                <h1 class="">Carpa Familiar</h1>
            </article>
            <!-- Imagen del producto -->
             <article class="img-product col-sm-12 col-md-12 col-lg-7">
                    <div class="carousel slide form-floating d-flex flex-column mb-5"  data-bs-ride="carousel" id="carouselExampleControls">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                          </ol>
                    <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/img/productos/carpa1.webp" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/productos/carpa2.webp" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/productos/carpa3.webp" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/productos/ejemplo.jpg" class="d-block w-100" alt="...">
                          </div>
                    </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                         </a>
                         <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                         </a>
                    </div>
            </article>
            <!-- Vista desktop -->
        <div class="vista-desktop col-sm-12 col-md-12 col-lg-4">
            <!-- Nombre del producto -->
             <article>
                 <h1 class="">Carpa Familiar</h1>
            </article>
            <!--Precio  -->
            <article>
                <h3 class="form-floating d-flex flex-column"> $15.000</h3>
            </article>
            <!-- Boton desplegable de formas de envio -->
            <article>
                <div class="dropdown form-floating d-flex flex-column">
                    <button class="btn btn-success dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Metodos de envios <i class="fas fa-truck"></i>
                    </button>
                   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <li><a class="dropdown-item" href="#">Retiro en sucursal</a></li>
                       <li><a class="dropdown-item" href="#">Envio a domicilio</a></li>
                       <li><a class="dropdown-item" href="#">Retirar en sucursal de correo</a></li>
                   </ul>
                </div>
            </article>
           <!-- Boton desplegable, medios de pago -->
            <article>
                <div class="dropdown ">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Medios de pago <i class="far fa-credit-card"></i> <i class="fas fa-credit-card"></i> 
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Efectivo, pagando en pagofacil o rapipago</a></li>
                            <li><a class="dropdown-item" href="#">Debito automatico</a></li>
                            <li><a class="dropdown-item" href="#">targeta de credito</a></li>
                        </ul>
                 </div>
            </article>
              <!-- Boton de compra -->
            <article>
                <div class="form-floating d-flex flex-column">
                    <button type="button" class="btn btn-success ">Comprar ahora <i class="fas fa-hand-holding-usd"></i></button>
                </div>
            </article>
            <!-- Boton agregar a carrito -->
            <article>
                <div class="form-floating d-flex flex-column">
                    <button class="carrito btn btn-success ">Agregar a carrito  <i class="fas fa-shopping-cart"></i></button>
                </div>
            </article>
        </div>

         <!--Precio  -->
         <article class="price col-sm-12 col-md-12 col-lg-4">
            <h3 class="form-floating d-flex flex-column"> $15.000</h3>
        </article>
        <!-- Boton desplegable de formas de envio -->
        <article class="shipping col-sm-6 col-md-6 col-lg-4">
            <div class="dropdown form-floating d-flex flex-column">
                <button class="btn btn-success dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Metodos de envios <i class="fas fa-truck"></i>
                </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <li><a class="dropdown-item" href="#">Retiro en sucursal</a></li>
                   <li><a class="dropdown-item" href="#">Envio a domicilio</a></li>
                   <li><a class="dropdown-item" href="#">Retirar en sucursal de correo</a></li>
               </ul>
            </div>
        </article>
       <!-- Boton desplegable, medios de pago -->
        <article class="pay col-sm-6 col-md-6 col-lg-4">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Medios de pago <i class="far fa-credit-card"></i> <i class="fas fa-credit-card"></i> 
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Efectivo, pagando en pagofacil o rapipago</a></li>
                        <li><a class="dropdown-item" href="#">Debito automatico</a></li>
                        <li><a class="dropdown-item" href="#">targeta de credito</a></li>
                    </ul>
             </div>
        </article>
        <!-- Boton de compra -->
        <article class="shopping col-sm-6 col-md-6 col-lg-4">
            <div class="form-floating d-flex flex-column">
                <button type="button" class="btn btn-success ">Comprar ahora <i class="fas fa-hand-holding-usd"></i></button>
            </div>
        </article>
        <!-- Boton agregar a carrito -->
        <article class="shopping-cart col-sm-6 col-md-6 col-lg-4">
            <div class="form-floating d-flex flex-column">
                <button class="carrito btn btn-success ">Agregar a carrito <i class="fas fa-shopping-cart"></i></button>
            </div>
        </article>

             <!-- Descripcion del producto -->
             <article class="descripcion col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-floating d-flex flex-column">
                    <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam id asperiores ducimus recusandae.
                Eos incidunt ea a accusamus accusantium dolorum facere autem at, qui voluptatibus eveniet
                perferendis debitis nulla quasi.
                Quae reiciendis accusamus autem nemo ducimus praesentium dolorum suscipit dolorem eligendi, ipsam
                sequi minima optio adipisci dolor corporis dicta sed eveniet aliquam expedita necessitatibus
                doloribus non at ipsum quo? Natus.
                Incidunt deserunt harum accusamus consequatur eaque neque velit praesentium. Aliquam aspernatur
                corporis nulla. Temporibus totam molestiae maiores praesentium necessitatibus, dolores, laudantium
                blanditiis voluptas corrupti tenetur fugiat eum dolorum enim obcaecati!
                    </p>
               </div>
            </article>  
                <!-- Carrusel con imagenes de productos -->
            <article class="img-ofertas col-sm-12 col-md-12 col-lg-12">
                <div class="carrusel form-floating d-flex flex-column">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/productos/HTB1xi6hgDZmx1VjSZFGq6yx2XXa5.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/productos/lampara-de-camping.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/productos/51O0KTuvjpL._AC_SY355_.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Seccion de comentarios -->
            <article class="comentarios col-sm-12 col-md-12 col-lg-12">
                <div class="form-floating d-flex flex-column">
                    <h4>Comentarios</h4>
                    <textarea name="comentario" id="comentario"></textarea>
                    <button class="comentario btn btn-success col-4">enviar</button>
                </div>
            </article>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>
</body>
<footer>
    <main class="container-fluid">
        <section class="">
            <div class="main-footer row">
        <div class="logo col-sm-12 col-md-12 col-lg-12"><img src="/img/1612675856438.png" alt="" width="50%" class="logo-footer"></div>
     
        <div class="contactar col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ayuda <i class="fas fa-life-ring"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Quienes somos <i class="fas fa-user-friends"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Preguntas frecuentes <i class="far fa-question-circle"></i></a>
                </li>
                
            </ul>
        </div>
        <div class="navegacion-footer col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home <i class="fas fa-home"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Ofertas <i class="fas fa-tags"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos <i class="fas fa-campground"></i></a>
                </li>
            </ul>
        </div>
       
        <div class="contactos col-sm-3 col-md-3 col-lg 3">
            <ul>
                <li class="nav-item">
                    <p>¿Cómo contactarnos?</p>
                </li>
                <li> 
                    <a class="nav-link" href="#">Direccion <i class="fas fa-map-marker-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Telefono <i class="fas fa-phone"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Email <i class="fas fa-envelope"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Whatsapp <i class="fab fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
        <div class="redes-sociales col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <p>Nuestras redes</i></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Instagram <i class="fab fa-instagram"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Facebook <i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Twitter <i class="fab fa-twitter"></i></a>
                </li>             
            </ul>
        </div>
<!--         <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="banner-footer d-flex flex-column">
                <h2>.</h2>
            </div>
        </div> -->
    </div>
    </section>
    </main>
   
</footer>
</html>