<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Producto</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/formProducto.css">
</head>

<body>

    <header id="header" class="container-fluid fixed-top header-transparent">

        <section class="row header">
            
            <section class="menu container">

                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="logoHeader col-sm-3 col-md-6 col-lg-4">
                            <a href="index.html"><img class="logoHeader" src="img/logobis7.png" alt="logo"></a>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-8 search-container">
                            <form action="" class="input-search">
                                <input type="text" placeholder="Buscar productos, marcas y más">
                                <button class="btn btn-outline-light"><i class="fas fa-search"></i></button>
                            </form>
                        </div>

                        <nav class="navbar navbar-expand-lg col-lg-12">
                            <div class="container-fluid">
                                <button class="navbar-toggler navbar-light " type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                                    <ul class="navbar-nav mb-2 mb-lg-0">
                                        
                                        <li class="nav-item menuLR">
                                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                    data-bs-whatever="@getbootstrap" href=""><i
                                                        class="fas fa-user-circle">Iniciar Sesion</i>
                                                </a>
                                        </li>
                                        <li class="nav-item menuLR">
                                                <a class="nav-link" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                    href=""><i class="fas fa-address-card">Registrate</i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Home</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Categorias
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Mochilas</a></li>
                                                <li><a class="dropdown-item" href="#">Bolsas de Dormir</a></li>
                                                <li><a class="dropdown-item" href="#">Iluminacion</a></li>
                                                <li><a class="dropdown-item" href="#">Repuestos</a></li>
                                                <li><a class="dropdown-item" href="#">todos los productos</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Ayuda</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Ofertas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Vender</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Ayuda</a>
                                        </li>
                                    </ul>
                                    
                                </div>
                                <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                                    <ul class="navbar-nav mb-2 mb-lg-0 Sesion">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-user-circle"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                        data-bs-whatever="@getbootstrap" href=""><i
                                                            class="fas fa-user-circle">Iniciar Sesion</i>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                        href=""><i class="fas fa-address-card">Registrate</i> </a>
                                                </li>                                                
                                                <li><a class="dropdown-item" href="#">Ayuda</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="Carrito" href="#"><i class="fas fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>      
                                </div>
                            </div>
                        </nav>             
                        <div class="carrito col-sm-2 col-md-2 col-lg-6 d-flex">
                            <a class="menuCarrito" href="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <!--Inicio del modal Login-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputValue"
                                                    placeholder="name@example.com" required>
                                                <label for="floatingInputValue">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Recordarme
                                                    </label>
                                                    <p class="registrate">¿No estas registrado? <a data-bs-toggle="modal" data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                            href="">Registrate</a></p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Iniciar
                                                        Sesiòn</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--FIN del Login div class="modal-dialog"-->
                        </div>
                        <!--Fin del Login div class="modal fade"-->
                        <!--Inicio del modal Registro-->
                        <div class="modal fade" id="exampleModalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputValue"
                                                    placeholder="name@example.com" required>
                                                <label for="floatingInputValue">Email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password Again</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!--FIN del div class="container-fluid"-->
                </nav>
                <!--FIN del nav class="navbar navbar-expand-lg"-->
            </section>
            <!--FIN del section class="menu"-->
        </section>
        <!--FIN del section class="row"-->
    </header>
    <div class="container-fluid headerFondo">
        <div class="row headerFondo">
         <section class="frase">
             <h1>Listo para su aventura?</h1>
             <h4>Aqui disponemos de todo lo que necesita</h4>
         </section>
         <img class="Header" src="img/hero-bg.jpg" alt="">
        </div>
    </div>

    <main class="container">
        <h1 class="text-center my-5">registro de producto</h1>
        <form action="" method="POST">
            <section class="datos row">
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Titulo del Anuncio">
                        <label for="floatingInput">Titulo del Anuncio *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Codigo de Producto">
                        <label for="floatingInput">Codigo de Producto (Sku) *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Moneda</option>
                            <option value="1">Argentina</option>
                            <option value="2">Dolar</option>                            
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Precio">
                        <label for="floatingInput">Precio *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Descuento">
                        <label for="floatingInput">Descuento %</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Marca">
                        <label for="floatingInput">Marca *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Origen">
                        <label for="floatingInput">Origen *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Color">
                        <label for="floatingInput">Color *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Talle">
                        <label for="floatingInput">Talle</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Peso">
                        <label for="floatingInput">Peso</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Alto">
                        <label for="floatingInput">Alto</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Largo">
                        <label for="floatingInput">Largo</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Ancho">
                        <label for="floatingInput">Ancho</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput"
                            placeholder="Material">
                        <label for="floatingInput">Material</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Categorias</option>
                            <option value="1">Mochilas</option>
                            <option value="2">Bolsas de Dormir</option>
                            <option value="3">Herramientas</option>
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Stock</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Envio</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                            <option value="3">Consultar al vendedor</option>
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput"
                            placeholder="Estado">
                        <label for="floatingInput">Estado</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="form-floating d-flex flex-column mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Descripciòn</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Subir Imagen</label>
                      </div>                    
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="boton">
                        <button class="btn btn-primary" type="submit">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </article> 
                               
            </section>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>
</body>

</html>