<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head') %> 
<!-- /HEAD -->

<!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/formProducto.css">
<!-- /CSS -->
<body>

    <!-- HEADER -->
    <%- include('partials/header')  %> 
    <!-- /HEADER -->

    <main class="container">
        <h1 class="text-center my-5">registro de producto</h1>
        <form action="" method="POST">
            <section class="datos row">
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Titulo del Anuncio">
                        <label for="floatingInput">Titulo del Anuncio *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Codigo de Producto">
                        <label for="floatingInput">Codigo de Producto (Sku) *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Moneda</option>
                            <option value="1">Argentina</option>
                            <option value="2">Dolar</option>                            
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Precio">
                        <label for="floatingInput">Precio *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Descuento">
                        <label for="floatingInput">Descuento %</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Marca">
                        <label for="floatingInput">Marca *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Origen">
                        <label for="floatingInput">Origen *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Color">
                        <label for="floatingInput">Color *</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Talle">
                        <label for="floatingInput">Talle</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Peso">
                        <label for="floatingInput">Peso</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Alto">
                        <label for="floatingInput">Alto</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Largo">
                        <label for="floatingInput">Largo</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Ancho">
                        <label for="floatingInput">Ancho</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput"
                            placeholder="Material">
                        <label for="floatingInput">Material</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Categorias</option>
                            <option value="1">Mochilas</option>
                            <option value="2">Bolsas de Dormir</option>
                            <option value="3">Herramientas</option>
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Stock</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Envio</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                            <option value="3">Consultar al vendedor</option>
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput"
                            placeholder="Estado">
                        <label for="floatingInput">Estado</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="form-floating d-flex flex-column mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Descripciòn</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Subir Imagen</label>
                      </div>                    
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="boton">
                        <button class="btn btn-primary" type="submit">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </article> 
                               
            </section>
        </form>
    </main>

    <!-- SCRIPT -->
    <%- include('partials/scripts')  %> 
    <!-- /SCRIPTS -->

</body>

</html>