<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head')  %>   
<!-- /HEAD -->
<!-- CSS -->
<link rel="stylesheet" href="../stylesheets/loginYregister.css">
<!-- /CSS -->
<body>
<!-- HEADER -->

<!-- /HEADER -->
<!--Inicio Home-->
  <main class="container" style="margin-top: 150px;">
    <h1 class="text-center my-5">Registrarme</h1>
    <form action="/users/register" method="POST" enctype="multipart/form-data">        
        <section class="datos row">
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" name="firstName">
                    <label for="floatingInput">Nombre *</label>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Apellido" name="lastName">
                    <label for="floatingInput">Apellido *</label>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" name="email">
                    <label for="floatingInputValue">Email</label>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                      <label for="floatingPassword">Password</label>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Repetir Password" name="password2">
                      <label for="floatingPassword">Password</label>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <select class="form-select" aria-label="Default select example" name="category">
                        <option selected disabled>Usuario Cliente</option>
                        <option name="category" value="user">Si</option>
                        <option name="category" value="admin">No</option>
                    </select>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-12 col-lg-12">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="image">
                    <label class="input-group-text" for="inputGroupFile02">Subir Imagen</label>
                  </div>                    
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating d-flex flex-column text-center mb-3">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                        <p class="mt-4">¿Estas registrado? <a href="/users/login">Inicia sesion</a> </p>
                </div>
            </article>            
        </section>
    </form>
    <% if (typeof errores != 'undefined') { %>
        <ul>
            <% errores.forEach(error => { %>
             <li><%= error.msg %> </li>
            <% }) %>
        </ul>
       <% } %>
</main>  
<!--Fin Home-->
 <!-- SCRIPTS -->
 <%- include('./partials/scripts')  %> 
 <!-- /SCRIPTS -->
</body>
  <!--FOOTER-->
   
  <!--/FOOTER-->
</html>