<footer>
    <main class="container-fluid">
        <section class="">
            <div class="main-footer row">
        <div class="logo col-sm-12 col-md-12 col-lg-12"><img src="/img/1612675856438.png" alt="" width="50%" class="logo-footer"></div>
     
        <div class="contactar col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ayuda <i class="fas fa-life-ring"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Quienes somos <i class="fas fa-user-friends"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Preguntas frecuentes <i class="far fa-question-circle"></i></a>
                </li>
                
            </ul>
        </div>
        <div class="navegacion-footer col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home <i class="fas fa-home"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Ofertas <i class="fas fa-tags"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos <i class="fas fa-campground"></i></a>
                </li>
            </ul>
        </div>
       
        <div class="contactos col-sm-3 col-md-3 col-lg 3">
            <ul>
                <li class="nav-item">
                    <p>¿Cómo contactarnos?</p>
                </li>
                <li> 
                    
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <a class="nav-link" href="#">Direccion<i class="fas fa-map-marker-alt"></i></a>
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headinOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><iframe
                                src = " https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024! 2i768! 4f13.1! 3m3! 1m2! 1s0x47d8a00baf21de75% 3A0x52963a5addd52a99! 2sLondres% 2C% 20Reino% 20Unido! 5e0! 3m2! 1ses-419! 2sar! 4v1607219909656! 5m2! 1ses "
                                width = " 100% " height = " 250 " frameborder = " 0 " style = " border: 0; " allowfullscreen = "" aria-hidden = " false "
                                tabindex = " 0 " > </iframe >.</div>
                          </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <a class="nav-link" href="#">Telefono <i class="fas fa-phone"></i></a>
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">+54 1125262728</div>
                          </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              <a class="nav-link" href="#">Email <i class="fas fa-envelope"></i></a>
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">adventure_Acampada@info.com</div>
                          </div>
                        </div>
                        </div>
                </li>
                <li>     
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <a class="nav-link" href="#">Whatsapp <i class="fab fa-whatsapp"></i></a>
                            </button>
                          </h2>
                          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><iframe
                                src=" https://chat.whatsapp.com/FrBEjlTRPHR6EAgAQNbsCC"></iframe>
                               
                            
                            </div>
                                
                          </div>
                        </div>
                        </div>
                   
                </li>
            </ul>
        </div>
        <div class="redes-sociales col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="nav-item">
                    <p>Nuestras redes</i></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Instagram <i class="fab fa-instagram"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Facebook <i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Twitter <i class="fab fa-twitter"></i></a>
                </li>             
            </ul>
        </div>
<!--         <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="banner-footer d-flex flex-column">
                <h2>.</h2>
            </div>
        </div> -->
    </div>
    </section>
    </main>
   
</footer>