<footer>
    <main class="container-fluid">
        <section class="">
            <div class="main-footer row">
               <!--  <div class="logo col-sm-12 col-md-12 col-lg-12"><img src="/img/logobis7.png" alt="" width="50%" class="logo-footer"></div> -->
     
        
              <div class="navegacion-footer col-sm-3 col-md-3 col-lg-3">
               <ul>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home <i class="fas fa-home"></i></a>
                 </li>
                 <li> 
                    <a class="nav-link" href="#">Ofertas <i class="fas fa-tags"></i></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/products/list">Productos <i class="fas fa-campground"></i></a>
                 </li>
               </ul>
              </div>
              <div class="contactar col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ayuda <i class="fas fa-life-ring"></i></a>
                </li>
                <li> 
                    <a class="nav-link" href="#">Quienes somos <i class="fas fa-user-friends"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Preguntas frecuentes <i class="far fa-question-circle"></i></a>
                </li>
                
              </ul>
           </div>
      </section>
      
    </main>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="copyright" id="footer">
            &copy; Copyright <strong>Aventure-Acampada</strong>. All Rights Reserved
        </div>
   </div>
   
</footer>