<footer>
    <main class="container">
        <section class="">
            <div class="row">
               <!--  <div class="logo col-sm-12 col-md-12 col-lg-12"><img src="/img/logobis7.png" alt="" width="50%" class="logo-footer"></div> -->
     
        
            
              <div class="col-sm-6 col-md-6 col-lg-6">
              <ul>
                <li >
                    <a  aria-current="page" href="#">Ayuda <i class="fas fa-life-ring"></i></a>
                </li>
                <li> 
                    <a href="#">Quienes somos <i class="fas fa-user-friends"></i></a>
                </li>
                <li >
                    <a href="#">Preguntas frecuentes <i class="far fa-question-circle"></i></a>
                </li>
                
              </ul>
           </div> 
            <div class="col-sm-6 col-md-6 col-lg-6">
               <ul>
                 <li >
                    <a href="/">Home <i class="fas fa-home"></i></a>
                 </li>
                 <li> 
                    <a href="#">Ofertas <i class="fas fa-tags"></i></a>
                 </li>
                 <li >
                    <a href="/products/list">Productos <i class="fas fa-campground"></i></a>
                 </li>
               </ul>
              </div>
      </section>
      
    </main>
   
   
</footer> 
<div class="col-sm-12 col-md-12 col-lg-12">
        <div class="copyright" id="footer">
            &copy; Copyright <strong>Aventure-Acampada</strong>. All Rights Reserved
        </div>
   </div>