<header id="header" class="container-fluid fixed-top header-transparent">

    <section class="row header">
        
        <section class="menu container">

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="logoHeader col-sm-3 col-md-6 col-lg-4">
                        <a href="index.html"><img class="logoHeader" src="/img/logobis7.png" alt="logo"></a>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-8 search-container">
                        <form action="" class="input-search">
                            <input type="text" placeholder="Buscar productos, marcas y más">
                            <button class="btn btn-outline-light"><i class="fas fa-search"></i></button>
                        </form>
                    </div>

                    <nav class="navbar navbar-expand-lg col-lg-12">
                        <div class="container-fluid">
                            <button class="navbar-toggler navbar-light " type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                                <ul class="navbar-nav mb-2 mb-lg-0">
                                    
                                    <li class="nav-item menuLR">
                                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                data-bs-whatever="@getbootstrap" href=""><i
                                                    class="fas fa-user-circle">Iniciar Sesion</i>
                                            </a>
                                    </li>
                                    <li class="nav-item menuLR">
                                            <a class="nav-link" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                href=""><i class="fas fa-address-card">Registrate</i> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Categorias
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Mochilas</a></li>
                                            <li><a class="dropdown-item" href="#">Bolsas de Dormir</a></li>
                                            <li><a class="dropdown-item" href="#">Iluminacion</a></li>
                                            <li><a class="dropdown-item" href="#">Repuestos</a></li>
                                            <li><a class="dropdown-item" href="#">todos los productos</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Ayuda</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Ofertas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Vender</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Ayuda</a>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                                <ul class="navbar-nav mb-2 mb-lg-0 Sesion">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-user-circle"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                    data-bs-whatever="@getbootstrap" href=""><i
                                                        class="fas fa-user-circle">Iniciar Sesion</i>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                    href=""><i class="fas fa-address-card">Registrate</i> </a>
                                            </li>                                                
                                            <li><a class="dropdown-item" href="#">Ayuda</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="Carrito" href="#"><i class="fas fa-shopping-cart"></i></a>
                                    </li>
                                </ul>      
                            </div>
                        </div>
                    </nav>             
                    <div class="carrito col-sm-2 col-md-2 col-lg-6 d-flex">
                        <a class="menuCarrito" href="#"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                    <!--Inicio del modal Login-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInputValue"
                                                placeholder="name@example.com" required>
                                            <label for="floatingInputValue">Email</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password" required>
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                    Recordarme
                                                </label>
                                                <p class="registrate">¿No estas registrado? <a data-bs-toggle="modal" data-bs-target="#exampleModalRegistro" data-bs-whatever="@getbootstrap"
                                                        href="">Registrate</a></p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Iniciar
                                                    Sesiòn</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--FIN del Login div class="modal-dialog"-->
                    </div>
                    <!--Fin del Login div class="modal fade"-->
                    <!--Inicio del modal Registro-->
                    <div class="modal fade" id="exampleModalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInputValue"
                                                placeholder="name@example.com" required>
                                            <label for="floatingInputValue">Email</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password" required>
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password" required>
                                            <label for="floatingPassword">Password Again</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Sign Up</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--FIN del div class="container-fluid"-->
            </nav>
            <!--FIN del nav class="navbar navbar-expand-lg"-->
        </section>
        <!--FIN del section class="menu"-->
    </section>
    <!--FIN del section class="row"-->
</header>
<div class="container-fluid headerFondo">
    <div class="row headerFondo">
     <section class="frase">
         <h1>Listo para su aventura?</h1>
         <h4>Aqui disponemos de todo lo que necesita</h4>
     </section>
     <img class="Header" src="/img/hero-bg.jpg" alt="">
    </div>
</div>