<header id="header" class="container-fluid fixed-top header">
    <section class="row header">
        <section class="menu container">
            <input type="checkbox" id="check">
            <nav>
                 <div class="icon"><a href="/"><img class="logoHeader" src="/img/logo4.png" alt="logo"></a></div>
                 <div class="search_box">
                     <form action="/search" class="input-search" method="GET">
                        <input type="text" name="keywords" placeholder="Buscar productos, marcas y más">
                       
                    </form>
                     <span type="submit" class="fa fa-search"></span>
                 </div>
                 <ol>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="/products/list">Productos</a></li>
                    <li><a href="#"><i class="bi bi-cart3"></i></a></li>
                    
                    <li class="nav-item dropdown" id="escritorio">
                      <a class="perfil-header nav-link dropdown-toggle" href="#" id="navbarDropdown"
                      role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <% if (typeof user != 'undefined') { %> 
                     <img src="/img/avatar/<%= user.avatar %> "  alt="users"
                          class="rounded-circle"  />
                          <% }else{ %> 
                              <img src="/img/avatar/default.png "  alt="users"
                          class="rounded-circle"  />
                              <% } %> 

                  </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                            <!-- Aca 2 -->
                            <% if (typeof user != 'undefined') { %>
                              <li ><a href="/users/profile/<%=user.id %> "></i> <%= user.firstName %></a> <!-- nombre de usuario -->
                                </li>                                    
                                
                                  <li><a href="/users/profile/<%=user.id %> ">Mi Perfil</a></li>
                                  <% if (user.rol==="admin") { %>
                                   
                                    <li><a href="/admin/products/list">Lista de productos</a></li>
                                    <li><a href="/admin/products/create">Cargar producto</a></li>
                                    <% } %>
                                    <li><a  href="/users/logout">Cerrar sesion</a></li>
                                  
                                  <% }else{ %>   
                                    <ul id="a">
                                      <li><a  href="/users/login"><i class="bi bi-person-fill"></i>Iniciar sesion</a></li>
                                      <li><a  href="/users/register"><i class="bi bi-person-lines-fill"></i>Registrarme</a></li>
                                    </ul>
                                    <% } %> 
                        </ul>
                    </li>
                 </ol>
                 <label for="check" class="bar">
                 <span class="fa fa-bars" id="bars"></span>
                 <span class="fa fa-times" id="times"></span>
                 </label>
            </nav>
        </section>
    </section>

</header>
