<footer class="footer text-center">
    
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="copyright" id="footer">
                &copy; Copyright <strong>Aventure-Acampada</strong>. All Rights Reserved
            </div>
       </div>
</footer>