/*General*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Colores */   
  :root{
     --colorNaranja:#f4791f;
     --colorAzul: #659999;
     --colorNegro: black;
     --colorBlanco: white;
     --fondoHeader:rgba(0, 0, 0, 0.5);
     --fondoHeader2: rgba(0,0,0,0.15);
     --fondoHeader3:rgba(0, 0, 0, 0.5);
     --colorGrisOscuro: rgb(85, 84, 84);
     --colorGrisClaro: grey;
     --colorTraparente: transparent;
     --colorHeaderModal1:rgba(252, 249, 249, 0.4);
     --colorHeaderModal2:rgba(255, 255, 255, 0.4);
  }
  /*Header*/
  header a{
      text-decoration: none;
      color: var(--colorNegro);
    }
  header a:hover{
      color: var(--colorBlanco);
      text-decoration: none;
    }
  header .fa-user-circle:before {
    margin-right: 5px;
  }
  header .fa-address-card:before {
    margin-right: 5px;
  }
  header img.logo{    
      height: 40px;
      border-radius: 100%;
  }
  header div.logo{
      padding-right: 0;
      margin-right: 0;
      height: 40px;
      width: 40px;
  }
  header section.menu{
      background-image: url('../img/hf.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
  header .menuCarrito{    
      margin-left: 0px;
      margin-right: 0px;    
  }
  header a.nav-link.carrito{
      display: none;
  }
  
  header div.container-fluid{
      padding-left: 0;
      padding-right: 0;
  }
  header .input-search{
      background-color: var(--colorBlanco);
      border-radius: 2px;
      padding: 5px;  
      width: 100%;
      height: 40px;
      position: relative;
    }
    /*header .input-search input[type="text"]{
      border: none;
    }Para sacar los bordes de los input del tipo texto*/
  header .search-container{
      padding: 0;
    }
  header .input-search input{
      border: none;
      width: 80%;    
    }
  header .input-search input::placeholder{
      color: var(--colorGrisOscuro);
    }
  header .input-search button{
      border: none;
      background-color: var(--colorBlanco);
      color: var(--colorGrisOscuro);
      border-left: 1px solid var(--colorGrisClaro);
      position: absolute;
      right: 2px;
      font-size: 0.8em;
      height: 60%;
      width: 12%;
    }
  header nav button.burger:focus{
      outline: 1px solid var(--colorBlanco);
    }
  header .navbar-toggler:focus{
        box-shadow: 0 0 0 0;      
    }
  header .navbar-toggler:hover{
      border: 1px solid var(--fondoHeader);    
  }
  
  header .navbar-collapse{
      position: fixed;    
      height: 100%;
      background-color: var(--colorTraparente);
      top: 71px;    
      transition: all .4s;
      flex-direction: column;
    }
  header .dropdown-menu{
      border: none;   
  }
  header .dropdown-menu.show {
    background-color: var(--colorTraparente);
  }
  header .dropdown-menu.show:hover{
      background-color: var(--fondoHeader2);
  }
  header div.carrito{
    width: 24px;
  }
  /*Login*/
  header .modal{
    background-image: url('../img/hf.png');
  }
  header .modal-dialog{
    background-color: var(--colorHeaderModal1);
  }
  header .modal-content{
    background-color: var(--colorHeaderModal2);
  
  }
  header .modal-footer{
    justify-content: center;
  }
  header .btn{
    background-color: var(--colorNaranja);
    border-color: var(--colorNaranja);
  }
  header .btn:hover{
    background-color: var(--colorAzul);
    border-color:  var(--colorAzul);
  }
  header p.registrate{
    justify-content: center;
    padding-top: 5px;
    font-size: small;
  }
  /*Escritorio Header*/
@media(min-width: 769px){
  header .input-search input{
      border: none;
      width: 85%;    
      box-shadow: none;
  }    
  header .menuCarrito{    
      display: none;
   }
  header a.nav-link.carrito{
      display: block;
      padding-left: 10px;
  }  
  header .navbar-collapse{
      position: relative;
      width: 0;
      height: 0%;
      background-color: var(--colorTraparente);
      top: 0px;
      transition: none;     
  }
  header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      background-color: var(--colorTraparente);
  }/*Aqui esta propiedad ubica el logo y la barra de busqueda a la derecha*/ 
  header img.logo{    
      height: 60px;
      width: 60px;
      border-radius: 100%;
  }
  header div.logo{
      padding-right: 0;
      margin-right: 0;        
  }
  header .navbar{
      margin-top: 10px;        
  }
  header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
      justify-content: space-evenly;
  }   /*Aqui esta propiedad ubica la barra del home al centro*/ 
  header .dropdown-menu.show {
      background-color: var(--colorTraparente);
      top:54px;
  }
}

/* CUERPO */
  body{
    background-color: var(--colorAzul);
    font-family: 'Lato', sans-serif;
}
.row{
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    padding:5px
}
p.price{
   padding-top: 5%;
   justify-content: center;
   text-align: center;
}

.precio{
    align-content: center;
}
.btn{
    background-color:var(--colorNaranja); 
}
button.btn{
   margin-top:5px; 
   margin-bottom:5px;
}
button.cantidad{
    margin-top:5%; 
    margin-bottom:5px;
    align-content: center;
    width: 100%;
 }
 div.btn-group{
    align-content: center;
 }

 /* Configuracion de los botones */
.btn-success{
    width: 100%;
    margin: 15px 0 15px 0;
    background-color: var(--colorNaranja); 
    border-color: var(--colorNaranja); 
}
.btn-success:hover{
    background-color: var(--colorAzul);
    border-color: var(--colorAzul);
    box-shadow: 0 0 0 0.25rem var(--colorAzul);
}

.btn-check:focus+.btn-success, .btn-success:focus {
    color: #fff;
    background-color: var(--colorAzul);
    border-color: var(--colorAzul);
    box-shadow: 0 0 0 0.25rem var(--colorAzul);
}
/* boton con opciones desplegables */
ul.dropdown-menu.show{
    background-color: #f9efda;
    border-radius: 5px;
}
ul.dropdown-menu.show:active{
    border-color: var(--colorNaranja); 
}

/* seccion de precios */
.total-price-number, .total-price-title{
    text-align: center;
}
/* Targeta de producto */
.card{
    border: none;
}
.card-body{
    text-align: center;
}
/* Configuraciones qery */
@media(min-width:1024px){
    p.price{
        margin-top:40%;
    }
    button.cantidad{
        margin-top: 40%;
    }
}


/* FOOTER */
.main-footer{
    background-image: url('../img/hf.png');
    margin-top: 25px;
    padding-top: 35px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.logo{
    text-align: center;
  }
  img.logo-footer{
    width: 25%;
    object-fit: cover;
  }
  
  /* lista de footer */
  ul{
    list-style: none;
    justify-content: center;
    padding-left: 0;
  }
  footer .container-fluid div ul li{
    margin: 1px;
    border-radius: 5px;
    
  }
  footer .container-fluid div ul li a{
    color: black;
    text-align: center;
    word-spacing: 10px;
  }
  footer .container-fluid div ul li p{
    color: black;
    text-align: center;
    margin-bottom: 0;
  }
  /* Banner a revision */
 /*  .banner-footer{
    background: var(--colorAzul);
    background: -webkit-linear-gradient(to right, var(--colorNaranja) , var(--colorAzul));
    background: linear-gradient(to right, var(--colorNaranja), var(--colorAzul)); 
  }
 */
  /* Seccion de footer-enlaces */
  .fa-instagram, .fa-facebook, .fa-twitter, .fa-whatsapp, .fa-phone, .fa-map-marker-alt, .fa-home, .fa-tags, .fa-question-circle, .fa-user-friends, .fa-campground, .fa-envelope, .fa-life-ring{
    color: var(--colorNaranja); 
    font-weight: bold;
  }
  .nav-link:hover{
    color: var(--colorAzul);
  }