
/* Cuerpo */
.cuerpo{
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.30);
    margin-top: 150px;
}
body{
    background-color:rgb(226, 227, 232);
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Vista desktop */
div.vista-desktop{
    display: none;
}
div.vista-desktop{
    margin: 15px 0 15px 0;
}

/* Configuracion de carrusel */
.w-100{
    object-fit: contain;
    width: 100%;
    height: 300px;
} 
.img-product{
    margin-top: 13.5px;
    height: 200px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #170B3B;
}

/* Configuracion de los botones */
.btn-success{
    width: 100%;
    margin: 15px 0 15px 0;
    background-color: #2dc997;
    border-color: #2dc997;
}
.btn-success:hover{
    background-color: #170B3B;
    border-color: #170B3B;
    box-shadow: 0 0 0 0.25rem #170B3B;
}

.btn-check:focus+.btn-success, .btn-success:focus {
    color: #fff;
    background-color: #170B3B;
    border-color: #170B3B;
    box-shadow: 0 0 0 0.25rem #170B3B;
}
/* boton con opciones desplegables */

/* Descripcion del producto */
.descripcion div {
    padding:7%;
    background-color:white;
    border:2px solid #e6e6e6;
    margin-bottom: 25px;
    border-radius: 5px;
   text-align: left;
}
.descripcion div h3 {
    font-weight: bold;
    border-bottom: 2px solid #2dc997;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    color: black;
  }
  .descripcion div h6{
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
    text-align: left;
    color: black;
  }
.descripcion{
  padding: 5%;
}
/* Comentarios */

/* imagen-logo */
.img-logo{
    object-fit: contain;
    height: 150px;
}

a{
    color: black;
}
header{
    margin-bottom: 25px;
}



img.logo{
    width: 25%;
    padding-left: 10px;
    padding-top: 15px;
    border-radius: 80%;

}
.navbar-brand{
    color: black;
}
a.nav-link.carrito{
    display: none;
}
section.detalle.row{
    padding: 15px;
    background-color:#fafafa;
    align-items: center;
    border-radius: 10px;
}
main .cuerpo.container{
  background-color: var(--colorAzul);
}/*Se modifico nombre de convocacion de clase en CCS pero no en ejs*/
/* Cuerpo qery */
@media(min-width: 769px){
  .menuCarrito{    
      display: none;
   }
  a.nav-link.carrito{
      display: block;
      padding-left: 10px;
  }  

}

/* configuracion responsive */
@media(min-width:1024px){
  div.vista-desktop{
      display:block;
      margin-right: 20px;
  }
  .img-product{
      margin-top: 90px;
  }
  .title, .price, .shipping, .shopping, .pay, .shopping-cart{
      display: none;
  }
 
  .img-product{
    margin-top: 13.5px;
    height: 365px;
}
}

/* Elimino baner */
.headerFondo{
    display: none;
}




/* Descripcion de detalle del producto */
.nombre-del-producto{
    padding: 15px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  border-bottom: 2px solid #2dc997;
  width: 100%;
  color: black;
}
.descuento-precio{
    text-align: right;
    color: #170B3B;
    font-size: 25px;
    padding-left: 150px;
    margin-bottom: -4px;
}
.precio-final{
background-color: transparent;
text-shadow: 8px 7px 6px rgba(0, 0, 0, 0.30);
font-size: 50px;
color: #170B3B;
}


@media(max-width:769px){
    .cuerpo{
        margin-top: 250px;
    }
}
/* nombre del producto */
h1.nombre-del-producto{
    padding: 15px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  border-bottom: 2px solid #2dc997;
  width: 100%;
  color: black;
}
ul li:hover a{
    color: #2dc997;
}

/* Configuarcion de la imagen de producto en vista mibile */
@media (min-width: 426px){
section .carousel .carousel-inner img {
    height: 250px;
}
.img-product {
    margin-top: 13.5px;
    height: 250px;
}
section .carousel .carousel-inner{
    height: 250px;
}
}
section .carousel .carousel-inner{
    height: 250px;
}
section .carousel .carousel-inner img {
    height: 250px;
}



/* Carrusel */
