/*General*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-image: url('../img/hf.png');
  background-repeat: no-repeat ;
  background-size: cover;   
  text-transform: capitalize; 
}
/*Colores*/  
:root{
 --colorNaranja:#f4791f;
 --colorAzul: #659999;
 --colorNegro: black;
 --colorBlanco: white;
 --fondoHeader1:rgba(0, 0, 0, 0.5);
 --fondoHeader2: rgba(0,0,0,0.15);
 --fondoHeader3:rgba(0, 0, 0, 0.5);
 --colorGrisOscuro: rgb(85, 84, 84);
 --colorGrisClaro: grey;
 --colorTraparente: transparent;
 --colorHeaderModal1:rgba(252, 249, 249, 0.4);
 --colorHeaderModal2:rgba(255, 255, 255, 0.4);
 --colorMainContainer: rgba(234, 237, 237, 0.3);
}
/*Header*/
.frase{
position: absolute;
z-index: 1;
margin-top: 300px;
margin-left: 28%;
font-size: 49px;
color: white;
}
img.Header{
width: 100%;
height: 1000px;
margin-bottom: 25px;
background-repeat: no-repeat;
}
header{
background-color: var(--fondoHeader3);
overflow-x: hidden;
}
header a{
  text-decoration: none;
  color: var(--colorBlanco);
}
header a:hover{
  color: var(--colorGrisClaro);
  text-decoration: none;
}
header .fa-user-circle:before {
margin-right: 5px;
}
header .fa-address-card:before {
margin-right: 5px;
}
header img.logoHeader{    
  height: 40px;
}
header div.logoHeader{
  padding-right: 0;
  margin-right: 0;
  height: 40px;
  width: 40px;
}
header div.logoHeader.col-sm-3.col-md-6.col-lg-4{
width: 128px;
}
header button.navbar-toggler.navbar-light{
padding-left: 6px;
padding-right: 6px;
}
header div.col-sm-4.col-md-6.col-lg-8.search-container{
padding-left: 6px;
}
header .menuCarrito{    
  margin-left: 0px;
  margin-right: 0px;    
}
header a.nav-link.carrito{
  display: none;
}
header div.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
header .input-search{
  background-color: var(--colorBlanco);
  border-radius: 2px;
  padding: 5px;  
  width: 100%;
  height: 40px;
  position: relative;
}
header .search-container{
  padding: 0;
}
header .input-search input{
  border: none;
  width: 80%;    
}
header .input-search input::placeholder{
  color: var(--colorGrisOscuro);
}
header .input-search button{
  border: none;
  background-color: var(--colorBlanco);
  color: var(--colorGrisOscuro);
  border-left: 1px solid var(--colorGrisClaro);
  position: absolute;
  right: 2px;
  font-size: 0.8em;
  height: 60%;
  width: 12%;
}
header nav button.burger:focus{
  outline: 1px solid var(--colorBlanco);
}
header .navbar-toggler:focus{
    box-shadow: 0 0 0 0;      
}
header .navbar-toggler:hover{
  border: 1px solid var(--fondoHeader1);    
}
header .navbar-collapse{
  position: fixed;    
  height: 100%;
  background-color: var(--colorTraparente);
  top: 71px;    
  
  flex-direction: column;
}
header .dropdown-menu{
  border: none;   
}
header .dropdown-menu.show {
background-color: var(--colorTraparente);
}
header .dropdown-menu.show:hover{
  background-color: var(--fondoHeader2);
}
header div.carrito{
width: 24px;
}

header div#navbarSupportedContent.navbar-collapse.navbar-light.collapse.show{
z-index: 1000;
width: 100%;
height: 45%;
padding: 11px;
}
header ul.navbar-nav.mb-2.mb-lg-0{
position: fixed;
}
header li.nav-item.menuLR{
display: flex;
}
header nav.navbar.navbar-expand-lg.col-lg-12{
margin-top: 0;
padding-top: 0;
padding-bottom: 0;
}
/*Login*/
.modal-backdrop {
position: relative;
}
.modal-backdrop.show{
opacity: 0;
}
header .modal-backdrop.show{
opacity: 0;
}
header .modal{
background-image: url('../img/hf.png');
}
header .modal-dialog{
background-color: var(--colorHeaderModal1);
}
header .modal-content{
background-color: var(--colorHeaderModal2);

}
header .modal-footer{
justify-content: center;
}
header .btn{
background-color: var(--colorNaranja);
border-color: var(--colorNaranja);
}
header .btn:hover{
background-color: var(--colorAzul);
border-color:  var(--colorAzul);
}
header p.registrate{
justify-content: center;
padding-top: 5px;
font-size: small;
}
header ul.navbar-nav.mb-2.mb-2.mb-lg-0.Sesion{
display: none;
}
div.container-fluid.headerFondo img{
padding-left: 0;
padding-right: 0;
}
div section.detalle{
margin-left: 0;
}

/*Escritorio Header*/
@media(min-width: 769px){
  header .input-search input{
      border: none;
      width: 85%;    
      box-shadow: none;
  }    
  header .menuCarrito{    
      display: none;
   }
  header a.nav-link.carrito{
      display: block;
      padding-left: 10px;
  }  
  header .navbar-collapse{
      position: relative;
      width: 0;
      height: 0%;
      background-color: var(--colorTraparente);
      top: 0px;
      transition: none;     
  }
  header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      background-color: var(--colorTraparente);
  }/*Aqui esta propiedad ubica el logo y la barra de busqueda a la derecha*/ 
  header img.logoHeader{    
      height: 60px;
      width: 128px;
      margin-bottom: 0;
      padding-bottom: 10px;
      
  }
  header div.logoHeader{
      padding-right: 0;
      margin-right: 0;        
  }
  header .navbar{
      margin-top: 10px;        
  }
  header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
      justify-content: space-evenly;
  }   /*Aqui esta propiedad ubica la barra del home al centro*/ 
  header .dropdown-menu.show {
      background-color: var(--colorTraparente);
      top:54px;
  }
  header section.row.header{
    height: 122px;
  }
  header li.nav-item{
    padding-top: 8px;
    padding-left: 8px;
  }
  header i.fas.fa-shopping-cart{
    padding-top: 12px;
  }
  header ul.navbar-nav.mb-2.mb-2.mb-lg-0.Sesion{
    left: 900px;
    display: flex;
  }
  header ul.navbar-nav.mb-2.mb-2.mb-lg-0{
    left: 270px;
  }
  header li.nav-item.menuLR{
    display: none;
  }
}
@media(min-width: 1025px){
header ul.navbar-nav.mb-2.mb-2.mb-lg-0.Sesion{
  left: 1140px;
  display: flex;
}
header ul.navbar-nav.mb-2.mb-2.mb-lg-0{
  left: 350px;
}
header li.nav-item.menuLR{
  display: none;
}
}

/*Main*/

main.container{
  background-color:var(--colorMainContainer);
}
main.container h1{
  color: var(--colorNegro);
  padding-top: 10px;        
}
main .btn-primary{
  color: var(--colorNegro);
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 280px;
  background-color:var(--colorNaranja);
  border-color: var(--colorNaranja);
}
main .btn-primary:hover{
  background-color: var(--colorAzul);
  border-color:  var(--colorAzul);
}