.form-control, .form-select{
  background-color:white;
  border:2px solid #e6e6e6;
}
body{
  background-color: #dadada
}
h1{
  padding: 15px;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
border-bottom: 2px solid #2dc997;
width: 100%;
color: black;
}

.btn-primary{
  margin: 15px 0 15px 0;
  background-color: #2dc997;
  border-color: #2dc997;
  margin: 10px;
}
.btn-primary:hover{
  background-color: #170B3B;
  border-color: #170B3B;
  box-shadow: 0 0 0 0.25rem #170B3B;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #170B3B;
  border-color: #170B3B;
  box-shadow: 0 0 0 0.25rem #170B3B;
}