li#centro{
  margin-top: 5px;
}
main section.carousel{
  display: none;
}
section .carousel .carousel-inner {
  height: 100px;
  width: 100%;
}

section .carousel .carousel-inner img {
  height: 100px;
}

#category-section {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  background-color: var(--colorPrimario1);
  color: var(--colorPrimario2);
  font-weight: bold;
  border-radius: 30px;
}
/*Se agrupa el cuerpo del HOME en un "main" en el archivo ejs y solamente 
a las clases nombradas .container se nombraron "main .container"*/
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

main .container a {
  text-decoration: none;
  color: #666;
}


section .product {
  padding-top: 15px;
  margin-bottom: 15px;
 position: relative;
 
  height: 300px;
  width: 220px;
}

section .product img {
  padding-top: 15px;
  margin-bottom: 15px;

  border-radius: 15px;
  height: 300px;
  width: 220px;
}

section .product h5 {
  font-weight: bold;
  border-bottom: 2px solid #2dc997;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: black;
}

section .product p {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

.container .product:hover {
  /* transform: translateY(-10px); */
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.30);
}

/* MEDIA QUERIES */
/* VERSION TABLET */
@media(min-width:426px) {
  main section .product {
    padding-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #e6e6e6;
    height: 300px;
    width: 170px;
    margin-right: 10px;
    background-color: white;
  }
  div.navegacion-footer.col-sm-3.col-md-3.col-lg-3{
    margin-left: 140px;
    margin-right: 50px;
  }
  div.contactar.col-sm-3.col-md-3.col-lg-3{
    margin-left: 50px;
    margin-right: 140px;
  }
  main section.carousel{
    display: flex;
  }
  main .container {
      flex-direction: row;
  }
  section.container.carousel{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  main section .carousel .carousel-inner img {
    height: min-content;
  }

  section .carousel .carousel-inner {
      height: 150px;
      width: 100%;
  }
  
  section .carousel .carousel-inner img {
      height: 150px;
  }
}

/* VERSION ESCRITORIO */
@media(min-width:769px) {
  main section .product {
    padding-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #e6e6e6;
    height: 300px;
    width: 220px;
    margin-right: 10px;
    background-color: white;
  }
    
  div.navegacion-footer.col-sm-3.col-md-3.col-lg-3{
    margin-left: 200px;
    margin-right: 50px;
  }
  div.contactar.col-sm-3.col-md-3.col-lg-3{
    margin-left: 50px;
    margin-right: 200px;
  }
  main .container {
      flex-direction: row;


  }
  
  section .carousel .carousel-inner {
      height: 300px;
      width: 100%;
  }
  
  section .carousel .carousel-inner img {
      height: 300px;
  }
}


/*Home*/
section .carousel .carousel-inner {
  height: 100px;
  width: 100%;
}

section .carousel .carousel-inner img {
  height: 100px;
}

#category-section {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  background-color: var(--colorPrimario1);
  color: var(--colorPrimario2);
  font-weight: bold;
  border-radius: 30px;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

main .container a {
  text-decoration: none;
  color: #666;
}

section .product {
  padding-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #e6e6e6;
  
  height: 300px;
  width: auto;
  margin-right: 10px;
}

section .product img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}



section .product p {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

main .container .product:hover {
  /* transform: translateY(-10px); */
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.30);
}

/* MEDIA QUERIES */
/* VERSION TABLET */
@media(min-width:426px) {
  main #services h4.title{
    text-align: center;
    width: 290px;
  }  
  main .container {
      flex-direction: row;
  }

  section .carousel .carousel-inner {
      height: 150px;
      width: 100%;
  }
  
  section .carousel .carousel-inner img {
      height: 150px;
  }
}

/* VERSION ESCRITORIO */
@media(min-width:769px) {
  main #services h4.title{
    text-align: center;
    width: 250px;
  }
  main .container {
      flex-direction: row;


  }
  
  section .carousel .carousel-inner {
      height: 300px;
      width: 100%;
  }
  
  section .carousel .carousel-inner img {
      height: 300px;
  }
}
@media(min-width:1025px) {
  main #services h4.title{
    text-align: center;
    width: auto;
  }
}

/*Aqui*/
.general{
 /* padding: 20px;*/
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 150px; 
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/index/publicidad-8.jpeg) fixed center center;
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  #call-to-action {
    background-attachment: scroll;
  }
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
   /*Aqui*/
   main.productos.general{
    /* padding: 20px;*/
     padding-left: 0px;
     padding-right: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 85px; 
     margin-bottom: 30px;
     width: 100%;
   }
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}


/* Contact Section
--------------------------------*/
main div.row.justify-content-center{
  display: contents;
  width: 216px;
}

main #contact #google-map {
  height: 300px;
  margin-bottom: 20px;
}

main #contact .info {
  color: #333333;
}

main #contact .info i {
  font-size: 32px;
  color: #2dc997;
  float: left;
  line-height: 0;
}

main #contact .info p {
  padding: 5px 5px 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 11px;
}

main #contact .info .email p {
  padding-top: 5px;
}

main #contact .social-links {
  padding: 20px 0;
  width: 216px;
}

main #contact .social-links a {
  font-size: 18px;
  background: #333;
  color: #fff;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

main #contact .social-links a i {
  line-height: 0;
}

main #contact .social-links a:hover {
  background: #2dc997;
  color: #fff;
}

main #contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

main #contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

main #contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

main #contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

main #contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

main #contact .php-email-form input, #contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

main #contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
  background-color: #2dc997;
}

main #contact .php-email-form button[type="submit"] {
  background: #2dc997;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

main #contact .php-email-form button[type="submit"]:hover {
  background: #51d8ad;
}

#contact h3.section-title, h3.section-title-footer {
  font-size: 22px;
  color: #111;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 5px;
}
.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}
footer div.contactar.col-sm-3.col-md-3.col-lg-3 ul li a.nav-link{
  width: 192px;
}

#footer {
  text-align: center;
  background: #fff;
  padding: 30px 0;
  color: #111;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}
#fh5co-footer {
  padding: 2em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 2em 0;
  }
}
#fh5co-footer {
  background: #fff;
}
#fh5co-footer a {
  color: #74889e;
}
#fh5co-footer a:hover {
  color: #fff !important;
  background: #2dc997;
  text-decoration: underline;
}

#fh5co-footer .section-title-footer {
  font-size: 22px;
  color: black;
  position: relative;
  padding-bottom: 20px;
}
#fh5co-footer .section-title-footer:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 2px;
  background:  #2dc997;
}
#fh5co-footer .copy-right {
  position: relative;
  padding-top: 20px;
  margin-top: 40px;
}
#fh5co-footer .copy-right > a {
  color:  #2dc997;
}
#fh5co-footer .copy-right:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 2px;
  background:  #2dc997;
}
#fh5co-footer .contact-info {
  margin: 0 0 60px 0;
  padding: 0;
}
#fh5co-footer .contact-info li {
  font-size: 14px;
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #111;
}
#fh5co-footer .contact-info li a {
  color: #111;
}
#fh5co-footer .contact-info li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color:  #2dc997;
  color: #555863;
}
#fh5co-footer .social-media {
  margin: 0 0 30px 0;
  padding: 0;
}
#fh5co-footer .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}
#fh5co-footer .social-media li a {
  color:  #2dc997;
}
#fh5co-footer .social-media li a:hover, #fh5co-footer .social-media li a:focus, #fh5co-footer .social-media li a:active {
  text-decoration: none;
  background: #2dc997;
  color: #fff;
}



/* Services Section
--------------------------------*/
#services h3.section-title{
  text-align: center;
}
#services h4.title{
  text-align: center;
  width: 320px;
}
#services {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 200px;
  position: relative;
  background: #fafafa;
}

#services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #2dc997;
}

#services .icon a {
  display: inline-block;
}

#services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

#services .box:hover .icon {
  background: #fff;
  border: 2px solid #2dc997;
}

#services .box:hover .icon i {
  color: #2dc997;
}

#services .box:hover .icon a {
  color: #2dc997;
}

#services .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .title a {
  color: #111;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
}

.gtco-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.gtco-container {
  position: relative;
  z-index: 10;
}
.btn-white.btn-outline {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  background: #2dc997;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.row#boton-Productos{
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}

.gtco-section {
  padding: 7em 0;
  clear: both;
  position: relative;
}
@media screen and (max-width: 768px) {
  .gtco-section {
    padding: 3em 0;
  }
  
}

.gtco-section.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}

#gtco-portfolio {
  padding: 1em 0;
  margin-top: 0px;
  background: #fafafa;
  min-height: 500px;
}
#gtco-portfolio .gtco-heading h2 {
  color: black;
}
#gtco-portfolio .gtco-heading p {
  color: rgba(255, 255, 255, 0.7);
}

#gtco-portfolio-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
#gtco-portfolio-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
}
@media screen and (max-width: 480px) {
  #gtco-portfolio-list li {
    margin-left: 0;
  }
}
#gtco-portfolio-list li a {
  min-height: 200px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}
#gtco-portfolio-list li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#gtco-portfolio-list li a.color-1:before {
  background: #845460;
}
#gtco-portfolio-list li a.color-1:hover:before {
  background: #ca8a8b;  
}
#gtco-portfolio-list li a.color-2:before {
  background: #2B4F60;
}
#gtco-portfolio-list li a.color-2:hover:before {
  background: #126e82;
}
#gtco-portfolio-list li a.color-3:before {
  background: #ead3cb;
}
#gtco-portfolio-list li a.color-3:hover:before {
  background: #f5cebe;
}
#gtco-portfolio-list li a.color-4:before {
  background: #bdc7c9;
}
#gtco-portfolio-list li a.color-4:hover:before {
  background: #9dbeb9;
}
#gtco-portfolio-list li a.color-5:before {
  background: #eca3f5;
}
#gtco-portfolio-list li a.color-5:hover:before {
  background: #fdbaf8;
}
#gtco-portfolio-list li a.color-6:before {
  background: #5aa897;
}
#gtco-portfolio-list li a.color-6:hover:before {
  background: #8fd9a8;
}
#gtco-portfolio-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}
#gtco-portfolio-list li a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
#gtco-portfolio-list li a .case-studies-summary h2 {
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary h2 {
    font-size: 20px;
  }
}
#gtco-portfolio-list li.two-third {
  width: 65.6%;
}
@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.two-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.two-third {
    width: 100%;
  }
}
#gtco-portfolio-list li.one-third {
  width: 32.3%;
}
@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.one-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-third {
    width: 100%;
  }
}
#gtco-portfolio-list li.one-half {
  width: 49%;
}
@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-half {
    width: 100%;
  }
}


/* Precio de los productos */

.descuento-precio{
  color: #2dc997;
  /* font-size: smaller;
  font-style: normal; */
  padding-left: 10px;
  margin-bottom: -5px;
  padding-bottom: -10px;
  position: absolute;
  bottom: 105px;
  right: 10px;
}
.precio-base{
  position: absolute;
  bottom:100px;
  left: 10px;
  text-decoration: line-through;
}
.precio-con-descuento{
  margin-top: 0!important;
  margin-top: -10px;
}