:root {
  --colorPrimario1: #F28123;
  --colorPrimario2: #38726C;
  --colorSecundarioVariante1: #F7F052;
  --colorSecundarioVariante2: #D34E24;
  --colorSecundarioVariante3: #563F1B;
  --colorNaranja:#f4791f;
--colorAzul: #659999;
--colorNegro: black;
--colorBlanco: white;
--fondoHeader1:rgba(0, 0, 0, 0.5);
--fondoHeader2: rgba(0,0,0,0.15);
--fondoHeader3:rgba(0, 0, 0, 0.5);
--colorGrisOscuro: rgb(85, 84, 84);
--colorGrisClaro: grey;
--colorTraparente: transparent;
--colorHeaderModal1:rgba(252, 249, 249, 0.4);
--colorHeaderModal2:rgba(255, 255, 255, 0.4);
--colorPrimario1: #F28123;
--colorPrimario2: #38726C;
--colorSecundarioVariante1: #F7F052;
--colorSecundarioVariante2: #D34E24;
--colorSecundarioVariante3: #563F1B;
}



* {
  box-sizing: border-box;
  margin: 0 auto;
}

section .carousel .carousel-inner {
  height: 100px;
  width: 100%;
}

section .carousel .carousel-inner img {
  height: 100px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  background-color: var(--colorPrimario1);
  color: var(--colorPrimario2);
  font-weight: bold;
  border-radius: 30px;
}
/*Se agrupa el cuerpo del HOME en un "main" en el archivo ejs y solamente 
a las clases nombradas .container se nombraron "main .container"*/
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.container a {
  text-decoration: none;
  color: #666;
}

section .product {
  padding-top: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--colorSecundarioVariante2);
  border-radius: 15px;
  height: 300px;
  width: 220px;
}

section .product img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

section .product h5 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid var(--colorSecundarioVariante2);
  width: 90%;
  margin-top: 10px;
  text-align: center;
  color: black;
}

section .product p {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

.container .product:hover {
  /* transform: translateY(-10px); */
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.30);
}

/* MEDIA QUERIES */
/* VERSION TABLET */
@media(min-width:426px) {
  main .container {
      flex-direction: row;
  }

  section .carousel .carousel-inner {
      height: 150px;
      width: 100%;
  }
  
  section .carousel .carousel-inner img {
      height: 150px;
  }
}

/* VERSION ESCRITORIO */
@media(min-width:769px) {
  main .container {
      flex-direction: row;


  }
  
  section .carousel .carousel-inner {
      height: 300px;
      width: 100%;
  }
  
  section .carousel .carousel-inner img {
      height: 300px;
  }
}

/*Header*/
header#header.container-fluid.fixed-top.header-transparent{
  width: 100%;
  margin-left: 0;
  margin-right: 0 ;
}
.frase{
position: absolute;
z-index: 1;
margin-top: 300px;
font-size: 49px;
color: white;
right: 0px;
margin-left: 0;

}
.frase h1,h2{
  width: 300px;
  margin-left: 0;
  margin-right: 0;
}
img.Header{
width: 100%;
height: 1000px;
margin-bottom: 25px;
background-repeat: no-repeat;
}
header{
background-color: var(--fondoHeader3);
overflow-x: hidden;
}
header a{
  text-decoration: none;
  color: var(--colorBlanco);
}
header a:hover{
  color: var(--colorGrisClaro);
  text-decoration: none;
}
header .fa-user-circle:before {
margin-right: 5px;
}
header .fa-address-card:before {
margin-right: 5px;
}
header img.logoHeader{    
  height: 40px;
  width: 128px;
}
header div.logoHeader{
  padding-right: 0;
  margin-right: 0;
  height: 40px;
}
header div.logoHeader.col-sm-3.col-md-6.col-lg-4{
width: 128px;
margin-left: 0;
}
header button.navbar-toggler.navbar-light{
padding-left: 6px;
padding-right: 6px;
}
header div.col-sm-4.col-md-6.col-lg-8.search-container{
padding-left: 6px;
margin-left: 0;
margin-right: 0;
}
header .menuCarrito{    
  margin-left: 0px;
  margin-right: 0px;    
}
header a.nav-link.carrito{
  display: none;
}
header div.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
header .input-search{
  background-color: var(--colorBlanco);
  border-radius: 2px;
  padding: 5px;  
  width: 100%;
  height: 40px;
  position: relative;
}
header .search-container{
  padding: 0;
}
header .input-search input{
  border: none;
  width: 80%;    
}
header .input-search input::placeholder{
  color: var(--colorGrisOscuro);
}
header .input-search button{
  border: none;
  background-color: var(--colorBlanco);
  color: var(--colorGrisOscuro);
  border-left: 1px solid var(--colorGrisClaro);
  position: absolute;
  right: 2px;
  font-size: 0.8em;
  height: 60%;
  width: 12%;
}
header nav button.burger:focus{
  outline: 1px solid var(--colorBlanco);
}
header .navbar-toggler:focus{
    box-shadow: 0 0 0 0;      
}
header .navbar-toggler:hover{
  border: 1px solid var(--fondoHeader1);    
}
header .navbar-collapse{
  position: fixed;    
  height: 100%;
  background-color: var(--colorTraparente);
  top: 71px;    
  
  flex-direction: column;
}
header .dropdown-menu{
  border: none;   
}
header .dropdown-menu.show {
background-color: var(--colorTraparente);
}
header .dropdown-menu.show:hover{
  background-color: var(--fondoHeader2);
}
header div.carrito.col-sm-2.col-md-2.col-lg-6.d-flex{
width: 24px;
margin-left: 0;
margin-right: 0;
}

header div#navbarSupportedContent.navbar-collapse.navbar-light.collapse.show{
z-index: 1000;
width: 100%;
height: 45%;
padding: 11px;
}
header ul.navbar-nav.mb-2.mb-lg-0{
position: fixed;
}
header li.nav-item.menuLR{
display: flex;
}
header nav.navbar.navbar-expand-lg.col-lg-12{
margin-top: 0;
padding-top: 0;
padding-bottom: 0;
margin-left: 5px;
margin-right: 0;
}
/*Login*/
.modal-backdrop {
position: relative;
}
.modal-backdrop.show{
opacity: 0;
}
header .modal-backdrop.show{
opacity: 0;
}
header .modal{
background-image: url('../img/hf.png');
}
header .modal-dialog{
background-color: var(--colorHeaderModal1);
}
header .modal-content{
background-color: var(--colorHeaderModal2);

}
header .modal-footer{
justify-content: center;
}
header .btn{
background-color: var(--colorNaranja);
border-color: var(--colorNaranja);
}
header .btn:hover{
background-color: var(--colorAzul);
border-color:  var(--colorAzul);
}
header p.registrate{
justify-content: center;
padding-top: 5px;
font-size: small;
}
header ul.navbar-nav.mb-2.mb-2.mb-lg-0.Sesion{
display: none;
}
div.container-fluid.headerFondo img{
padding-left: 0;
padding-right: 0;
}
div section.detalle{
margin-left: 0;
}

/*Escritorio Header*/
@media(min-width: 769px){
  header .input-search input{
      border: none;
      width: 85%;    
      box-shadow: none;
  }    
  header .menuCarrito{    
      display: none;
   }
  header a.nav-link.carrito{
      display: block;
      padding-left: 10px;
  }  
  header .navbar-collapse{
      position: relative;
      width: 0;
      height: 0%;
      background-color: var(--colorTraparente);
      top: 0px;
      transition: none;     
  }
  header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      background-color: var(--colorTraparente);
  }/*Aqui esta propiedad ubica el logo y la barra de busqueda a la derecha*/ 
  header img.logoHeader{    
      height: 60px;
      width: 128px;
      margin-bottom: 0;
      padding-bottom: 10px;
      
  }
  header div.logoHeader{
      padding-right: 0;
      margin-right: 0;        
  }
  header .navbar{
      margin-top: 10px;        
  }
  header .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
      justify-content: space-evenly;
  }   /*Aqui esta propiedad ubica la barra del home al centro*/ 
  header .dropdown-menu.show {
      background-color: var(--colorTraparente);
      top:54px;
  }
  header section.row.header{
    height: 122px;
  }
  header li.nav-item{
    padding-top: 8px;
    padding-left: 8px;
  }
  header i.fas.fa-shopping-cart{
    padding-top: 12px;
  }
  header ul.navbar-nav.mb-2.mb-2.mb-lg-0.Sesion{
    left: 900px;
    display: flex;
  }
  header ul.navbar-nav.mb-2.mb-2.mb-lg-0{
    left: 270px;
  }
  header li.nav-item.menuLR{
    display: none;
  }
}
@media(min-width: 1025px){
header ul.navbar-nav.mb-2.mb-2.mb-lg-0.Sesion{
  left: 1240px;
  display: flex;
}
header ul.navbar-nav.mb-2.mb-2.mb-lg-0{
  left: 450px;
}
header li.nav-item.menuLR{
  display: none;
}
}


/*FOOTER*/

.main-footer{
  /* background-image: url('../img/hf.png'); */
  background: rgb(0,0,0);
background: linear-gradient(3deg, rgba(0,0,0,0.742734593837535) 32%, rgba(0,0,0,0.08727240896358546) 100%);
  margin-top: 25px;
  padding-top: 35px;
  background-repeat: no-repeat;
  background-size: cover;
}
div.logo{
  text-align: center;
}
img.logo-footer{
  width: 25%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* lista */
ul{
  list-style: none;
  justify-content: center;
  padding-left: 0;
}
footer .container-fluid div ul li{
  margin: 1px;
  border-radius: 5px;
  
}
footer .container-fluid div ul li a{
  color: black;
  text-align: center;
  word-spacing: 10px;
}
footer .container-fluid div ul li p{
  color: black;
  text-align: center;
  margin-bottom: 0;
}
.banner-footer{
  background: #659999;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Seccion de footer-enlaces */
.fa-instagram, .fa-facebook, .fa-twitter, .fa-whatsapp, .fa-phone, .fa-map-marker-alt, .fa-home, .fa-tags, .fa-question-circle, .fa-user-friends, .fa-campground, .fa-envelope, .fa-life-ring{
  color: #f4791f;
  font-weight: bold;
}
.nav-link:hover{
  color: #659999;
}
/* Seccion de acordion footer */
h2.accordion-header{
  background-color: var(--colorTraparente);
}
.accordion-button{
  width: fit-content;
  padding: 0%;
  margin: 0%;
}
.accordion-button:not(.collapsed){
  background-color: var(--colorTraparente);
  border: none;
}

h2.accordion-header{
  text-align: center;
  width: fit-content;
}

