<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head')  %>   
<!-- /HEAD -->
<!-- CSS -->
 <link rel="stylesheet" href="../stylesheets/style2.css">
 <link href="dist/css/style.min.css" rel="stylesheet">
<!-- /CSS -->
<body>
<%- include('partials/header')  %> 
<!--<main class="container-fluid" style="margin-top: 106px;">
    
</main>-->

<main class="container tabla-Productos">
    <h2 class="products-title" id="categorias">Lista de Productos</h1>
    

    
        <div class="container mt-5">
            
             <form action="" class="cajas">
                <div class="row my-3">
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        <div class="form-group" id="cajasCentro">
                            <input type="text" class="form-control" placeholder="Buscar...">
                        </div>
                    </article>
                    <article class="col-sm-12 col-md-4 col-lg-4">
                     <div class="form-group" id="cajasCentro">
                        <select name="" id="order" class="form-select">
                            <option hidden selected>Ordenar por</option>
                            <option value="nombre">Alfabéticamente</option>
                            <option value="mayorPrecio">Mayor precio</option>
                            <option value="menorPrecio">Menor precio</option>
                            <option value="descuento">Descuento</option>
                            <option value="categoria">Categoría</option>
                            <option value="default">Default</option>
                        </select>
                     </div>
                    </article>
                    <article class="col-sm-12 col-md-4 col-lg-4">
                      <div class="form-group" id="cajasCentro">
                        <select name="" id="limit" class="form-select">
                            <option hidden selected>Mostrar</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                     </div>
                    </article>
                </div>
            </form>
            
        </div>
    

    <div class="nuevoProducto">
        <a href="/admin/products/create"><button type="submit" class="btn btn-primary">Nuevo</button></a>   
    </div>

    <div class="table-responsive">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Precio/descuento</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody id="productsBox">
                <% products.forEach(product=>{ %> 
                    <tr>
                        
                    </tr>
                    <% }) %> 
                </tbody>
                <div class="my-2 d-flex justify-content-center">
                    <ul class="pagination" id="paginationBox">
    
                    </ul>
                </div>
            </table>
        </div>
    </main>

 <!-- SCRIPTS -->
 <script src="../javascript/adminProducts.js"></script>
 <%- include('partials/scripts')  %> 
 
 
 <!-- /SCRIPTS -->
</body>
  <!--FOOTER-->
  <%-include('partials/footer') %>  
  <!--/FOOTER-->
</html>